/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/products/White Chair5ca37ca88e9f7
public/images/products/.webp
public/images/products/test.webp
