
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


// homepage styling
.jumbotron-fluid {height: 700px; background-image: url('/images/misc/background.jpg');}
.product-card .card-img-top {height: 250px; width: 250px; margin: 0 auto;}
.product-card .buttons {text-align:center;}
.product-card .btn-primary {margin-right:.5rem;} 
.product-card {margin-bottom: 3rem;}
.navbar-expand .navbar-nav .nav-link {padding-left: 1.2rem; padding-right: 1.2rem; color: initial; text-transform: uppercase; font-weight: 900;}
.navbar-expand .navbar-nav .nav-link:hover {background: #f5f5f5; border-radius: 5%; transition: .7s;}
.navbar-brand {color: initial;}

// Product Page Styling
.single-product-info .p-2 {margin-bottom: 1rem;}
.col.single-product-image {text-align: center;}
.breadcrumbs {margin-bottom: 1.5rem;}
.top-product-content .col {justify-content: center;}

// Smaller than tablet viewport

@media only screen and (min-width: 768px){
.product-card.mx-2 {margin-left: 0.667% !important; margin-right: 0.667% !important;}
.product-card.col-md-4 {flex: 0 0 32%;}
}


// Admin Dashboard Styling

main.dashboard, .dashboard nav {padding-top:50px;}
.dashboard nav {box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);}
.dashboard nav li a.nav-link {font-size:13px; color:#555; font-weight:900;}
.clickable-row a {color: initial; display: block; padding: 0.75rem;}
.clickable-row a {text-decoration: none;}
.clickable-row th, .clickable-row td {padding:0;}